@charset 'utf8';

@web-app-commons__sizes__infoline--height: 50px;

@web-app-commons__sizes__button--height: 36px;

@web-app-commons__sizes__icon--diameter: 44px;
@web-app-commons__sizes__icon--margin: 2px;

@web-app-commons__sizes__icon--diameter--chip: 24px;
@web-app-commons__sizes__icon--diameter--small: 30px;
@web-app-commons__sizes__icon--diameter--huge: 100px;

@web-app-commons__sizes__details--height: 40px;

@web-app-commons__sizes__details__label--width: 180px;
@web-app-commons__sizes__details__label__compact--width: 110px;
