<commons-drawer
		[name]="'cordova-camera'"
		[direction]="ECommonsDrawerDirection.BOTTOM"
>
	<section drawercontainer>
		<div image
				[style.backgroundImage]="this.getBackgroundImage()"
		></div>
		
		<section buttons>
			<commons-button-bar class="center">
				<button commons-button class="filled"
						(click)="this.doPhoto();"
				>{{ this.photo !== undefined ? 'Retry' : 'Photo' }}</button>
				<button commons-button class="filled"
						[disabled]="this.photo === undefined"
						(click)="this.doSave();"
				>Save</button>
				<button commons-button
						(click)="this.doCancel();"
				>Cancel</button>
			</commons-button-bar>
		</section>
	</section>
</commons-drawer>

