@import (less) '../../less/common/palette.less';

section[drawercontainer] {
	display: grid;
	box-sizing: border-box;
	
	margin: 0;
	padding: 23px 20px;
	
	z-index: 200;
	
	height: 100vh;
	max-height: 400px;
	width: 100vw;
	
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 100px;
	grid-column-gap: 20px;
	grid-row-gap: 20px;

	@media (orientation: portrait) {
		grid-template-rows: 1fr auto;
		grid-template-columns: 1fr;
	}
	
	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}.theme-light) & {
			background-color: ~"@{web-app-commons__theme-@{value}__palette__body--background--greyscale}";
		}
		:host-context(body.webappcommons-theme-@{value}.theme-dark) & {
			background-color: ~"@{web-app-commons__theme-@{value}__palette__body--background--greyscale--invert}";
		}
	});
	
}

div[image] {
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;

	each(@web-app-commons__themes, {
		:host-context(body.webappcommons-theme-@{value}.theme-light) & {
			background-color: ~"@{web-app-commons__theme-@{value}__palette__subtlest}";
		}
		:host-context(body.webappcommons-theme-@{value}.theme-dark) & {
			background-color: ~"@{web-app-commons__theme-@{value}__palette__subtlest--dark}";
		}
	});
}
