@charset 'utf8';

@theme-marine__palette__primary: #2994ae;
@theme-marine__palette__primary--light: #65c5e0;
@theme-marine__palette__primary--dark: #00667f;
@theme-marine__palette__primary--text: #ffffff;

@theme-marine__palette__secondary: #99d1dd;
@theme-marine__palette__secondary--light: #cbffff;
@theme-marine__palette__secondary--dark: #69a0ab;
@theme-marine__palette__secondary--text: #000000;

@theme-marine__palette__error: #e63322;
@theme-marine__palette__error--text: #ffffff;

@theme-marine__palette__success: #8bc34a;
@theme-marine__palette__success--text: #000000;

@theme-marine__palette__body--background: #ffffff;
@theme-marine__palette__hyperlink: #2994ae;
