@charset 'utf8';

@theme-patrolred__palette__primary: #d6001c;
@theme-patrolred__palette__primary--light: #ff5146;
@theme-patrolred__palette__primary--dark: #9c0000;
@theme-patrolred__palette__primary--text: #ffffff;

@theme-patrolred__palette__secondary: #90a4ae;
@theme-patrolred__palette__secondary--light: #c1d5e0;
@theme-patrolred__palette__secondary--dark: #62757f;
@theme-patrolred__palette__secondary--text: #ffffff;

@theme-patrolred__palette__error: #e63322;
@theme-patrolred__palette__error--text: #ffffff;

@theme-patrolred__palette__success: #8bc34a;
@theme-patrolred__palette__success--text: #000000;

@theme-patrolred__palette__body--background: #ffffff;
@theme-patrolred__palette__hyperlink: #1857d6;
